{% extends 'container.html' %} {% block content %}

<br>
<div class='contentTop'>
    <h1>Matching tool</h1>
</div>
<div class="container contentBottom" id="home">
    <div class='row'>
    <div class='col box'>
    <p>Upload</p>
    <form class="form" enctype="multipart/form-data" action="" method="POST" style='margin-left: 0.5em;'>
        <div class='form-row'>
              <span class="custom-file">
                  <input type="file" name="records" class="custom-file-label">
              </span>
              <span>
                  <input type="submit" value="Submit" name='upload' style='margin-top: 1em;'>
                </span>
        </div>
    </form>
</div>

    <div class='col box'>
        
    <p>Downloads</p>
    {% if download == True %}
        <form class="form" enctype="multipart/form-data" action="" method="POST" style='margin-left: 0.5em;'>
        
        <input type="submit" value="Submit" name='download'>
    </form>
    {% else %}
    <div class='col'>
        {% endif %}
</div>

</div>
<br> {% endblock content %}