.btn {
    color: darkslategray;
    background-color: white;
    border-color: white;
}

.contentTop {
    position: relative;
    padding:2em 0 1em 0;
    min-height: 175px;
    font-family: PTSans;
    background-color: #AC4D00;
    color:white;
    margin-top:-25px
}

.contentBottom {
    position: relative;
    min-height: 45%;
    padding: 1.5em 0 1em 0;
}

.searchSubmit {
    text-align: center;
    vertical-align: middle;
    border: 1px solid#939393;
}

.flashSuccessMessages {
    font-size: 12px;
    margin-left: auto;
    margin-right: 30px;
}
