{% extends 'layouts/default.html' %} {% block body %}

<!-- header : navbar -->

<nav class="navbar navbar-expand-lg" role="navigation">
    <span><a href="{{ url_for('home')}}" title="Home"><i class="fas fa-home" style='color:white' ></i></span>
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('handle_matching')}}" style='color:white; padding-left: 5rem;'>Matching tool</a>
            </li>
        </ul>
        <div>


</nav>
{% with messages = get_flashed_messages(category_filter=["success"]) %} {% if messages %} {% for message in messages %}
<div class="alert flashSuccessMessages" role="alert">{{ message }}</div>
{% endfor %}
</div>
{% endif %} {% endwith %} {% block content %}{% endblock content %}

<!-- footer -->
<footer>
    <hr class="style-one" />
    <div class="container">


        <div class="row text-center justify-content-center ">
            <div>
               <!-- <h6>
                    <a href="https://github.com/axellelecroq/" target="_blank">Axelle Lecroq</a>
                </h6>-->
            </div>
        </div>
    </div>
    <br/>
</footer>
{% endblock body %}